input[type='password']::-webkit-textfield-decoration-container {
	display: none !important;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
	display: none !important;
}

/* react-toastify */
.Toastify__toast--success .Toastify__progress-bar {
	background: var(--color-main-green);
}

.Toastify__toast--error .Toastify__progress-bar {
	background: var(--color-main-red);
}

.Toastify__progress-bar--bg {
	background: transparent;
}
