@import 'tailwindcss';

@theme {
	/* Cores */
	--color-main-bg: #06010d;
	--color-main-green: #00a63e;
	--color-highlight-green: #b5fbbe;
	--color-main-purple: #7a55c2;
	--color-main-combination: #3d7d80;
	--color-main-black: #000000f2;
	--color-main-red: #f24854;

	/* Fontes */
	--font-jetbrains: 'JetBrains Mono', monospace;
	--font-ubuntu: 'Ubuntu', sans-serif;
	--font-space-grotesk: 'Space Grotesk', sans-serif;

	--animate-swing: swing 3s ease-in-out infinite;
	--animate-grow: grow 5s ease-in-out 10s infinite;

	@keyframes swing {
		0% {
			transform: rotate(-0.5deg);
		}
		50% {
			transform: rotate(0.5deg);
		}
		100% {
			transform: rotate(-0.5deg);
		}
	}

	@keyframes grow {
		0% {
			transform: scale(100%);
		}
		50% {
			transform: scale(90%);
		}
		100% {
			transform: scale(100%);
		}
	}
}

@layer base {
	body {
		@apply font-ubuntu bg-main-bg text-gray-200;
	}

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #16102e;
		border-radius: 6px;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

@layer utilities {
}

@layer components {
	.register-form-btn {
		@apply from-main-green/40 to-main-purple/40 h-[50px] w-[200px] cursor-pointer rounded-md border bg-linear-to-br text-white transition-shadow duration-300 hover:shadow-[0_0_15px_#ffffff24];
	}

	.footer-links {
		@apply border-l-main-green hover:text-main-green cursor-pointer border-l-2 pl-2 transition-colors duration-300;
	}

	.form-btn {
		@apply flex h-[38px] cursor-pointer items-center justify-center rounded-md border border-white/50 bg-white/5 text-center font-sans transition-shadow duration-300 hover:shadow-[0_0_15px_#ffffff1f];
	}

	.module-btn {
		@apply border-main-green bg-main-green/10 flex w-[150px] cursor-pointer items-center justify-center gap-x-2 rounded-md border-2 py-2 text-sm text-white transition-shadow duration-300 hover:shadow-[0_0_15px_#ffffff0f];
	}

	.support-fields {
		@apply rounded-md bg-black/50 p-2 transition-shadow focus:border-none focus:shadow-[0_0_12px_#ffffff0f] focus:outline-none;
	}
}
